{% extends 'base.html.twig' %}

{% block title %}Partenaires    {% endblock %}

{% block body %}
<main>
    <article id="partenaire">
        <div class="titlepart">
            <h1>Partenaires</h1>
            <h2>Nos <span>partenaires</span></h2>
        </div>
        <nav class="logopart">
            <a href="" ><img src="{{ asset('assets/img/logo/universit.png') }}" alt="discord" width="250px" /></a>
            <a href="https://sgnw.fr/" target='_blank'><img src="{{ asset('assets/img/logo/sgn.png') }}" alt="discord" width="250px"/></a>
        </nav>
    </article>
</main>
{% endblock %}
